*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family:  "Dhurjati";
    border-style: none;
}

main{

    
}
.cards{
    background: linear-gradient(300deg, #00bfff, #002d3c);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }

  .GGSIU_logo img{
    width: 100px; 
  }

.main_nav{
    position: relative;
    top:0;
    display:flex;
    width:100%;
    align-items: center;
    height: 120px;
    background:linear-gradient(90deg, rgba(0, 81, 106) -15.17%, rgba(0, 62, 82) 5.8%, rgba(0, 23, 30) 93.75%);
    padding:0 5%;
    justify-content: space-between;
    border-radius: 2px 2px 5px 5px;
    font-family: "dhujati";
    
}

.logo {
    font-size: 40px;
    color: #02AECF;
    text-decoration: none;
}

.main_nav ul{
    list-style: none;
    display: flex;
}
.main_nav ul li{
    padding: 10px 30px;
    position: relative;
}

.main_nav ul li a{
    text-decoration: none;
    font-size: 25px;
    color: white;
    transition: all 0.3s;
}

.main_nav ul li a:hover {
    color:#02AECF;
}

.drop-down{
    display: none;
}

.main_nav ul li:hover .drop-down{
    z-index:200;
    display:block;
    position: absolute;
    left: 0%;
    top: 100%;
    background-color: #002d3c; 
}

.drop-down ul{
    
    display: block;
    margin: 5px;
    padding: 0%;
    margin-left:15px;
}

.drop-down ul li{
    width: 200px;
    padding:10px;
}

.drop-down1{
    width: 200px;
    padding:10px;
}

.main_display{
    padding: 50px;
    height: 736px;
    background: linear-gradient(39deg, #02AECF 22.36%, #0B0011 71.1%);
}

.fas{
    float: right;
    margin-left: 10px;
    padding-top: 3px;
}



.cards h1{
    font-size: 50px;
  font-weight: bold 500;
  padding-bottom: 1rem;
  color: #fff;
}

.cards h3{
    font-size: 30px;
  font-weight: lighter;
  line-height: 2rem;
  color: #fff;
}

.main_display{
    position: relative;
    display:inline-grid;
    grid-template-columns: 50% 40%;
    text-align: center;
    align-items: center;
    padding:25px 45px 50px;
    gap:90px
}

.cards{
    
    width: 100%;
    margin: 10px;
    height: 700px;
    position: relative;
    align-items: center;
    justify-items: center;
    justify-content: center;
    display:flex;
    box-shadow: 1px 2px 15px 8px #00738a;
    
    border-width: 5px;
    background-size:100% 100%;
    background-image:url("./public/images/GGSIPU-East-Campus.jpg");
    animation: slider 12s infinite linear;
    
}

    @keyframes slider {
        0%{background-image: url("./public/images/FyF2M_VWIAEzRNb.jpg");}
        20%{background-image: url("./public/images/FyF2M_WX0AEc7QF.jpg");}
        40%{background-image: url("./public/images/FyF2M_WXsAAPSwX.jpg");}
        60%{background-image: url("./public/images/FyGNzn1agAINxI0.jpg");}
        80%{background-image: url("./public/images/FyGNzoRaMAAa5Jy.jpg");}
        
    }

.card2{
    display:inline-table;
    background-color:#01829c;
    position: relative;
}
.main_display img{
    grid-column: 2/2;
    grid-row:1/2;
    /* height:100%; */
    width:100%;
}

 .latest_updates{
    position:relative;
    display: inline-flex;
    width:100%;
    height: fit-content; 
    flex-shrink: 0;
    border: 4px solid  #002d3c;
}

.label{
    padding:0% 5%;
    background-color:#002d3c;
    width:fit-content;
    height: fit-content;
}

.label h1{
    padding-top: 10%;
    font-size: 25px;
    font-weight: 400;
}

.info_cards{
    /* position: relative; */
    width: 100%;
    background:url("/public/images/main-highlights-background.png"), lightgray 50% / cover no-repeat;
}

.info_card_1,
.info_card_3{
    border-color: #013843;
    position: relative;
    display:inline-grid;
    grid-template-columns: 45% 50%;
    text-align: center;
    align-items: center;
    padding:35px 55px 60px;
    gap:55px;
    /* margin-top: 5rem; */
    /* line-height: 30px; */
    /*    */
}

.info_card_2,
.info_card_4{
    border-color: #013843;
    position: relative;
    display:inline-grid;
    grid-template-columns: 55% 45%;
    text-align: center;
    align-items: center;
    padding:35px 55px 60px;
    gap:55px;
}

.info_card_1 h3,
.info_card_2 h3,
.info_card_3 h3,
.info_card_4 h3{
    font-weight: lighter;
    font-family: sans-serif;
    color:white
}

.info_card_1 h1,
.info_card_2 h1,
.info_card_3 h1,
.info_card_4 h1{
    text-decoration: underline;
    color: #dfb82b;
    font-size: 30px;
}

.info_card_1 img,
.info_card_3 img{
    grid-column: 1/2;
    grid-row:1/2;
    /* height:100%; */
    width:80%;
    height: 350px;
}

.info_card_2 img,
.info_card_4 img{
    grid-column: 2/2;
    grid-row:1/2;
    /* height:100%; */
    width:80%;
    height: 350px;
}

.notice_board{
    width: 100%;
    height: 800px;
    background: #002d3c;
    padding-top: 50px;
    
}

.notice{
    background-color: #002d3c;
    height:75%;
    width: 90%;
    padding:20px;
    position: relative;
    left: 5%;
    right:5%;
    border-radius: 10px;
    border:#002d3c; solid
}

.notice h1{
    background-color: #002d3c;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 64px;
    font-weight: 400;
}

.main_links ul{
    position: absolute;
    list-style:circle;
}

.main_links li,
.main_links a{
    color: #FFF;
    text-decoration: none;
    font-style: normal;
    font-size: 20px;
    line-height: 2.6rem;
    font-display:inherit;
    letter-spacing: 100%;
    width: 100%;

}
.main_links span{
    color: #73BBC9;
    
}

.main_links{
    height:100%;
    width: 100%;
    padding:2% 5%;
}

.blog_window{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 1000px;
    color: #FFF;
    /* margin-top: 2rem; */
    background: linear-gradient(180deg, #020000 50%, #09001B 64.27%, #013843 70.59%, #0087A1 76.53%);

}

.blog_title{
    position:relative;
    top:100px;
    /* left:25%; */
    text-align: center;
    line-height: 2.9rem;
}

.blog_title h1{
position: relative;
color: #FFF;
text-align: center;
font-family: Dhurjati;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.blog_title h4{
position: relative;
color: #FFF;
text-align: center;
font-family: Dhurjati;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.blog_cards{
    position: relative;
    width:100%;
    display: flex;
    justify-content: space-evenly;
}

.card{
    position: relative;
    width: 20%;
    height: 515px;
    top: 200px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 3px solid  #002d3c;
    background: #FFF;
}

.card img{
    position: relative;
    width:100%;
    height:50%;
    border-radius: 20px 20px 0px;
}

.card h2{
    color: #000;
    padding:3%;
font-family: Dhurjati;
font-size: 17px;

font-style: normal;
font-weight: 400;
line-height: 150.557%; 
}

.card button{
   position: relative;
   left:25%;
   bottom: 5%;


}

.viewall_btn {
    position: relative;
   top:25%;
 
   left:45%;
  
}

.viewall{
    position: relative;
    color: #FFF;
text-align: center;
font-family: Dhurjati;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
border-radius: 15px;
border: 1px solid #000;
background: #002d3c;
padding:10px

}

.the_team{
    /* position: relative; */
    height: fit-content;
     /* top:9000px;  */
    width:100%;
    border-top: 7px solid rgb(0, 146, 153);
    background: #0387a1;
    padding: 5% 3%;
}

.team_dis{
    position: relative;
    display:inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding:35px 55px 60px;
    gap:9rem;
    /* margin-top: 5rem; */
    line-height: normal;
}

.team_dis img{
    grid-column: 2/2;
    grid-row:1/2;
    /* height:100%; */
    width:80%;
    height: 300px;
}

.description h1{
    color: #FFF;
font-family: Dhurjati;
font-size: 70px;
font-style: normal;
font-weight: 400;
line-height: 150.557%; /* 144.535px */
}

.description h4{
    color: #FFF;
font-family: Dhurjati;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 124.557%; /* 44.841px */
}

.subscribe{
    width: 100%;
    height: fit-content;
    background-color: #73BBC9; 
    border-top: 4px solid #002d3c;
border-bottom: 4px solid #002d3c;
} 

 .sub_items{
    position: relative;
    padding:5% 3%;
    line-height: 5rem;
}

.sub_title h1{
    color: #000;
/* text-align: center; */
font-family: Dhurjati;
font-size: 76px;
font-style: normal;
font-weight: 400;
/* line-height: 112.557%;108.055px */
}

.sub_title h4{
    color: #000;
font-family: Dhurjati;
font-size: 28px;
font-style: normal;
font-weight: 400;
/* line-height: 112.557%; 54.028px */
}

.input{
    display: inline-flex;
    gap: 10px;
}

.input input{
    width:423px;
    height: 55px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
    border: 1px black solid;
    font-size: 20px;
}

.input button{
    height: fit-content;
    width: fit-content;
    padding:0.95rem;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    border: 1px black solid;
    background-color:  #002d3c;
    color: white;
    font-size: 20px;
}

footer{
    background-color: #000;
    width:100%;
    height: fit-content;
}

.footer_title{
    color: #002d3c;
    padding-top: 15px;
}

.footer_top{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding:1% 4%;
}

.social_logos{
    display: inline-flex;
    justify-content: space-evenly;
    gap: 20px;
}

.social_logos .a{
    padding-top: 10px;
    /* top:-10px */
}

.links{
    padding: 3% 5%;
    color:#73BBC9;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap:10rem;
    text-align: center;
}

.links li{
    list-style: none;
    line-height: 3rem;
    font-size: 25px;
}

.links a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    font-family: Dhurjati;

}

.footer_foot{
    text-align: center;
    color: white;
    padding: 2%;
    font-family: Dangrek;
    font-size: 20px;
    cursor: pointer;
}


.read_more1{
    width:130px;
    height: fit-content;
    padding:1.5%;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid #000;
    background: #002d3c;
    color: #FFF;
    text-align: center;
    font-family: Dhurjati;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.latest_updates {
    top: 0;
    right: 0;
    left: 0;
    background-color: #02AECF;
    color: #fff;
    padding: 0;
    text-align: center;
}

.label {
    display: flex;
    align-items: center;
    position:absolute;
    
    background-color:  #002d3c;
    font-weight: bold;
    height: 100%;
    z-index: 200;
}

.latest_updates ul {
    display: flex;
    list-style: none;
    margin: 0;
    position: relative;
    animation: scroll 15s infinite linear;
    overflow: hidden; /* Added this line to hide overflow */
}

.latest_updates ul li {
    font-weight:bold ;
    font-size: 25px;
    padding: 10px 80px;
    white-space: nowrap;
    position: relative; /* Added this line to position the ::after pseudo-element */
}

.latest_updates ul li::after {
    content: "";
    width: 0.1px;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    background: #fff; /* Added this line to give the ::after element a color */
}

.latest_updates ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-175.55px);
    }
}


/* .info_cards .latest_updates{
    display: flex;
    position: fixed;
    z-index: 200;
} */

